.stations {
    display: flex;
    /* align-items: center;
    flex-direction: column; */
    flex-wrap: wrap ;
    padding-top: 10em;
    justify-content: space-evenly;
}

.station {
    width: 20em; 
    height: 20em;
}


.filters {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}

.filters span {
  width: 8em;
}

.filters Button {
    margin: 1em;
}

.name {
   
}